<div class="container">
    <!-- Title row. -->
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1>Welcome to Cat Clicker</h1>
        </div>
    </div>

    <!-- User Settings -->
    <div class="row justify-content-center">
        <div class="col-auto">
            <app-user-settings></app-user-settings>
        </div>
    </div>

    <!-- Game information row. -->
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2>Points (pts): {{pointsToDisplay}}</h2>
        </div>
    </div>


    <!-- Game field row. -->
    <div class="row justify-content-center">
        <div class="col border border-primary">
            <app-game-field></app-game-field>
        </div>
    </div>
</div>